body {
  background-color: #FF0000;
}

div#header-fixed {position:fixed; z-index:-; width:100%;}
div#header {background:white; height:3%;}


h1 {
  font-family: "OldLondon"; font-size: 50pt; text-align: center; color: black;
}


@font-face {
  font-family: "OldLondon";
  src: url('/personal/my-website/fonts/OldLondon.ttf');
}
